@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f242d ;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.light-theme {
    background-image: url("light-theme-4k-b0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    color: #fff;
    transition: 2s;
}
.dark-theme {
    background-image: url("home-wall.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #fff;
    transition: 2s;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 10%;
}
.logo{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Croissant One', cursive;
    font-size: 3.125rem;
    cursor: default;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}
.navbar a{
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 0rem 1rem;
    font-weight: 600;
    transition: 0.3s all;
    animation: navMenu 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
    font-size: 1.56rem;
    text-shadow: 0 0 3.125rem #0ef;

}
.icon{
    width: 1.875rem;
    cursor: pointer;
    display: block;
    animation: navMenu 1s ease forwards;
    opacity: 0;
}
.hero-container{
    display: flex;
    padding: 1.6rem 10%;
    justify-content: center;
    align-items: center;
}
.info-side h3{
 font-size: 1.875rem;
 font-weight: 700;
 margin: 0.625rem 0;
 letter-spacing: 0.063rem;
 font-family: 'Croissant One', cursive;
}
.info-side h1{
    font-size: 4.7rem;
    letter-spacing: 0.063rem;
    font-weight: 700;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: 'Croissant One', cursive;
}
.info-side h3 span{
    color: #0ef;
}
.part-1{
    animation: part1 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
.part-2{
    animation: part2 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
p{
    line-height: 1.7rem;
    margin: 1.25rem 0rem 2.5rem 0rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.hero-img img{
    width: 28.125rem;
}
i{
    position: relative;
    border: 0.125rem solid #0ef;
    padding: 0.625rem;
    border-radius: 50%;
    color: #0ef;
    margin: 0rem 0.5rem;
    transition: 0.3ms;
}
i:hover{
    box-shadow: 0 0 1.25rem #0ef;
}

button{
    background-color: #0ef;
    margin-top: 3.125rem;
    padding: 1.25rem 4.4rem;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: none;
}
button:hover{
    box-shadow: 0 0 0.625rem #0ef;
}
.btn {
    text-decoration: none;
    color: #fff;
    font-size: large;
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navMenu {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes part1 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes part2 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.about{
    display: block;
    padding: 1.25rem 10%;
}
.about h1{
    font-family:'Croissant One', cursive;
}
dt{
    color: #0ef;
}
.skills{
    display: block;
    padding: 1.6rem 10%;
}
.skills h1{
    font-family:'Croissant One', cursive;
}
.progress {
    background-color: rgba(192, 192, 192,0.3);
    width: 80%;
        border-radius: 0.94rem;
}

.bar {
    background-color: rgba(0, 238, 255, 0.8);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 1.25rem;
    border-radius: 0.94rem;
}
.frontend{
    width: 85%;
}
.backend{
    width: 45%;
}
.aiml{
    width: 30%;
}
.project{
    display: block;
    padding: 1.6rem 10%;
}
.project h1{
    font-family:'Croissant One', cursive;
}
.clone{
    display: inline-flex;
    width: 37.5rem;
    height: 18.75rem;
}
.blog{
    display: inline-flex;
    width: 37.5rem;
    height: 18.75rem;
}
.contact{
    display: block;
    padding: 1.6rem 10%;
}
.contact h1{
    font-family:'Croissant One', cursive;
}
.mycontact{
    display: block;
    padding: 1.6rem 10%;
    
}
.form{
    display: inline-block;
    padding: 1.6rem 10%;
    font-size:1.875rem;
    font-family:'Croissant One', cursive;
}
h4{
    font-size: 1.25rem;
}
input{
    border-radius: 0.8rem;
    height: 2.5rem;
    width: 37.5rem;
    
}
textarea{
    border-radius: 0.6rem;
}